.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

#results p {
  text-align: center;
  font-family: 'Copse', serif;
  font-size: 36px;
  padding-bottom: 0px;
}

#results ul {
  line-height: 31px;
  padding: 0px;
  padding-top: 0px;
  font-size: 24px;
}

#results li {
  text-align: center;
  font-family: 'Copse', serif;
  list-style-type: none; 
}

.anagram {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 1px 1px 9px #888888;
}
 
.clear:before, .clear:after{
    content:"";
    display:table;
}
 
.clear:after{
    clear:both;
}
 
.anagram input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'Copse';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.anagram input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 1px 1px 9px #888888;
}
 
.anagram button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 :fff;
}   
   
.anagram button:hover{     
    background: #e54040;
}   
   
.anagram button:active,
.anagram button:focus{   
    background: #c42f2f;
    outline: 0;   
}

.anagram button:hover:before{
    border-right-color: #e54040;
}
 
.anagram button:focus:before,
.anagram button:active:before{
        border-right-color: #c42f2f;
}      
 
