<div class="container">
 <form class= "anagram clear" action="/" method="post">
    <input type="text" name="search_input" placeholder='Lookup an anagram...'>
    <button type="submit">Search</button>
  </form>
  <div id="response"></div>
</div>
